.container {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  padding-right: 3rem;
}

.username {
  color: gray;
  font-size: 0.9rem;
  padding: 0 0 0.25rem 0.25rem;
}

.message {
  width: auto;
  background-color: #e5e5ea;
  border: 1px solid #cacaca;
  border-radius: 12px 12px;
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.16), 0 1.5px 3px rgba(0, 0, 0, 0.158);
  padding: 0.5rem;
  word-wrap: break-word;
}

.isAuthor {
  background-color: #0a80fe;
  border-color: #006ee0;
  color: white;
}

.padLeft {
  padding-right: 0;
  padding-left: 3rem;
}
